<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>All Users</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
          crossorigin="anonymous">
    <style>
        .style {
            text-decoration: none;
            color: black;
        }
    </style>
</head>
<body>
<p> Welcome <a sec:authentication="name"></a></p>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Update</th>
        <th>Delete</th>
        <th>User-page</th>
    </tr>
    <th:block th:each="user : ${users}">
        <tr>
            <td th:text="${user.getId()}"></td>
            <td th:text="${user.getFirstName()}"></td>
            <td th:text="${user.getLastName()}"></td>
            <td>
                <button class="btn btn-primary" style="color: white;"><a
                        th:href="@{/admin/update?id={id}(id=${user.id})}" class="style" style="color:white">Update</a>
                </button>
            </td>
            <td>
                <form th:method="delete" th:action="@{/admin/delete?id={id}(id=${user.id})}">
                    <button class="btn btn-primary" type="submit">Delete</button>
                </form>
            </td>
            <th>
                <a th:href="@{/admin/userInfo?id={id}(id=${user.id})}" th:text="${user.getFirstName()}"></a>
            </th>
        </tr>
    </th:block>
</table>
<br>
<br>
<form action="new" target="_blank">
    <button class="btn btn-primary">Add User</button>
</form>
<br>
<form action="http://localhost:8080/logout" method="get">
    <button class="btn btn-primary">Log Out</button>
</form>
<!--<div class="jumbotron">-->

<!--     -->
<!--    <button class="btn btn-primary">Я кнопка из Бутстрапа!</button>-->

<!--</div>-->
</body>
</html>