<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>All Users</title>
    <style>
        .style {
            text-decoration: none;
            color: black;
        }
    </style>
</head>
<body>
<p> Welcome <a sec:authentication="name"></a></p>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Update</th>
        <th>Delete</th>
        <th>User-page</th>
    </tr>
    <th:block th:each="user : ${users}">
        <tr>
            <td th:text="${user.getId()}"></td>
            <td th:text="${user.getName()}"></td>
            <td th:text="${user.getSurname()}"></td>
            <td>
                <button><a th:href="@{/admin/update?id={id}(id=${user.id})}" class="style">Update</a></button>
            </td>
            <td>
                <form th:method="delete" th:action="@{/admin/delete?id={id}(id=${user.id})}">
                    <button type="submit">Delete</button>
                </form>
            </td>
            <th>
                <a th:href="@{/admin/userInfo?id={id}(id=${user.id})}" th:text="${user.getName()}"></a>
            </th>
        </tr>
    </th:block>
</table>
<br>
<br>
<form action="new" target="_blank">
    <button>Add User</button>
</form>
<br>
<form action="http://localhost:8080/logout" method="get">
    <button>Log Out</button>
</form>
</body>
</html>