<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update</title>
</head>
<body>
<!--/*@thymesVar id="user" type="web"*/-->
<form th:method="patch" th:action="@{update}" th:object="${user}">
    <input name="id" type="hidden" id="id" th:value="${user.getId()}">
    <label for="name">Name</label>
    <input name="name" type="text" id="name" th:value="${user.getName()}">
    <br>
    <label for="surname">Surname</label>
    <input name="surname" type="text" id="surname" th:value="${user.getSurname()}">
    <br>
    <label for="username">Username</label>
    <input name="username" type="text" id="username" th:value="${user.getUsername()}">
    <br>
    <label for="password">Password</label>
    <input name="password" type="text" id="password" th:value="${user.getPassword()}">
    <br>
    <input type="submit" value="Update">
</form>
</body>
</html>