<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1 shrink-to-fit=no">
    <title>Admin Panel</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
          crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-dark bg-dark px-4">
    <span class="navbar-brand mb-0 h1">
            <b sec:authentication="name"></b>
             with roles:
            <span th:each="role : ${#authentication.principal.authorities}"
                  th:text="${role.authority.replace('ROLE_', ' ')}"
            ></span>
    </span>
    <ul class="navbar-nav">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="http://localhost:8080/logout">Logout</a>
        </li>
    </ul>
</nav>

<div class="d-flex flex-fill">
    <div class="d-flex flex-column pt-3" style="width: 250px">
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <div
                th:if="${userinfo.hasRole('ROLE_ADMIN')}">
                    <a th:href="@{/admin}" href="#" class="nav-link" aria-current="page">Admin</a>
                </div>
            </li>
            <li class="nav-item">
                <a th:href="@{/user}" href="#" class="nav-link active">User</a>
            </li>
        </ul>
    </div>

    <main class="d-flex flex-column flex-fill bg-light p-4" style="height: 100vh">
        <h1>User information-page</h1>
        <div class="tab-content" id="nav-tabContent" style="border: 1px solid #DCDFE3">
            <div class="tab-pane fade show active" id="AllUser" role="tabpanel" aria-labelledby="nav-home-tab">
                <!-- All users -->
                <h5 class="ms-3 mt-2">About user</h5>

                <div style="background: white;border-top: 1px solid #DCDFE3" class="p-3">
                    <table class="table table-striped table-hover" style="border-top: 1px solid #DCDFE3">
                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Age</th>
                            <th scope="col">Email</th>
                            <th scope="col">Role</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="user : ${userinfo}">
                            <td th:text="${user.getId()}">ID</td>
                            <td th:text="${user.getFirstName()}">Name</td>
                            <td th:text="${user.getLastName()}">LastName</td>
                            <td th:text="${user.getAge()}">Age</td>
                            <td th:text="${user.getUsername()}">Email</td>
                            <td><span th:each="roles : ${user.getRoles()}"
                                      th:text="${roles.authority.replace('ROLE_', ' ')} + ' '"></span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
</div>
</body>
</html>
